<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
    <servlet>
        <servlet-name>jsonStockData</servlet-name>
        <servlet-class>com.google.gwt.sample.stockwatcher.server.JsonStockData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>jsonStockData</servlet-name>
        <url-pattern>/stockwatcher/stockPrices</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/stockwatcher/myName</url-pattern>
    </servlet-mapping>
  
  <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>StockWatcher.html</welcome-file>
    </welcome-file-list>

</web-app>
